{% extends 'base.html.twig' %}

{% block body %}
    <h2>Читать дальше</h2>
    {{ post.data|date("m/d/Y") }} <br>
    {{ post.title }} <br>
    {{ post.text }} <br><br>

    {% for comment in post.comment %}
        {{ comment.data|date("m/d/Y") }} <br>
        {{ comment.name }} <br>
        {{ comment.text }} <br>
     {% endfor %}

    <a href="{{ path('addComment', {'id': post.id }) }}">Комментировать</a>

    <a href="{{ path('redact', {'id': post.id }) }}">Редактировать</a> <br>

    <a href="{{ path('homepage') }}">Главная</a> <br>

{% endblock body %}